@import url('https://fonts.googleapis.com/css2?family=Arimo&family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arimo&family=Roboto+Condensed:wght@700&display=swap');

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

main{
    font-family: 'Arimo', sans-serif;
}

.reg{
    display: flex;
    flex-direction: row;
    justify-content: end;
}
.center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(images/4113082.jpg);
    background-position: center; 
    min-height: 700px;
    color: white;
}

.top{
    display: flex;
    flex-direction: row;
}
.top button{
    max-height: 50px;
    min-width: 110px;
    position: relative;
    left:90rem;
    top: 100px;
    margin-right: 30px;
    background-color:#23A0FA;
    border-radius: 15px;
    border: none;
    color: white;
    transition: 0.5s;
    font-weight: bold;
}

.top button:hover{
    background-color:#15F68A;
    cursor: pointer;
    color: black;
}

.medium button{
    min-height: 60px;
    min-width: 120px;
    border: none;
    border-radius:none;
    background-color:#23A0FA ;
    transition: 0.5s;
    color:white;
    font-weight: bold;
}
.medium button:hover{
    background-color: #15F68A;
    color: black;
    cursor: pointer;
}
.medium{
    background-color: #23A0FA;
}
.medium h1{
    margin-bottom: 150px;
    max-width: 450px;
    text-align: center;
    font-size: 50px;
    font-weight: bolder;
    color: #23A0FA;
    font-family: 'Roboto Condensed', sans-serif;
}

