@import url('https://fonts.googleapis.com/css2?family=Arimo&family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arimo&family=Roboto+Condensed:wght@700&display=swap');

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

main{
    font-family: 'Arimo', sans-serif;
    background-color: white;
}

.center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(images/4113082.jpg);
    background-position: center; 
    min-height: 700px;
    width:100vw;
    color: white;
}

.top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.log{
    margin-right: 150px;
}
.log button{
    min-height: 50px;
    min-width: 110px;
    top: 100px;
    margin-right: 50px;
    margin-top: 100px;
    background-color:#23A0FA;
    border-radius: 15px;
    border: none;
    color: white;
    transition: 0.5s;
    font-weight: bold;
}

.top button:hover{
    background-color:#15F68A;
    cursor: pointer;
    color: black;
}

.medium button{
    min-height: 60px;
    min-width: 120px;
    border: none;
    border-radius:none;
    background-color:#23A0FA ;
    transition: 0.5s;
    color:white;
    font-weight: bold;
}
.medium button:hover{
    background-color: #15F68A;
    color: black;
    cursor: pointer;
}
.medium{
    background-color: #23A0FA;
    overflow-x: hidden;
}
.medium h1{
    margin-bottom: 150px;
    max-width: 450px;
    text-align: center;
    font-size: 50px;
    font-weight: bolder;
    color: #23A0FA;
    font-family: 'Roboto Condensed', sans-serif;
}
.but button{
    border-radius: 15px;
    min-width: 250px;
    margin-right: 150px;
    position: relative;
    left: 70px;
}
.but{
    align-items: center;
}
section{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 50vh;
    margin-top: 150px;
}

.faq{
    max-width: 700px;
    border-bottom: 5px solid black;
    cursor: pointer;
    padding-bottom: 10px;
    text-align: center;
}

.question{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-height: 50px;
    color:black;
    font-size: 18px;
}

.answer{
    max-height: 0;
    overflow: hidden;
    transition: max-height .4s;
    font-size: 20px;
}
.faq.active .answer{
    max-height: 300px;
    color: black;
    transition: 0.4s ease-in-out;
}
.faq.active svg{
    transform: rotate(180deg);
}

svg{
    transition: transform 0.4s ease-in;
    fill:none;
}
.title{
    font-size: 50px;
    margin-bottom: 10px;
    color: black;
}

.share{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 400px;
    margin: auto;
    padding-bottom: 100px;
}

/*------------------------------------------contact page css---------------------------------------------------------------------------------------*/

.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    min-height: 110vh;
}

.contact{
    border: 5px solid #054675;
    max-height: 800px;
    min-width: 500px;
    border-radius: 20px;
    align-items: center;
    margin-top: 100px;
    color:black;
}

.info{
    border: 5px solid #054675;
    min-height: 300px;
    min-width: 500px;
    margin-left: 200px;
    border-radius: 20px;
    margin-top: 100px;
    padding: 30px 0px 0px 60px;
    color:black;
}
.location{
    margin-left: 200px;
    margin-top: 100px;
    border: 5px solid #054675;
    border-radius: 20px;
}

.location iframe{
    border-radius: 20px;
}

.contact h1{
    text-align: center;
    font-size: 50px;
    margin-top: 20px;
}
form{
    font-size: 20px;
    margin-left: 50px;
}

form #fname{
    border-radius: 8px;
    border:5px solid #054675;
    height: 40px;
    width: 200px;
    margin-top: 20px;
    text-align: center;
}
form #lname{
    border-radius: 8px;
    height: 40px;
    width: 200px;
    border:5px solid #054675;
    text-align: center;
}
form #email{
    border-radius: 8px;
    height: 40px;
    width: 405px;
    margin-top: 20px;
    border:5px solid #054675;
}
form #phone{
    border-radius: 8px;
    height: 40px;
    width: 405px;
    margin-top: 20px;
    border:5px solid #054675;
}
form #subject{
    border-radius: 8px;
    height: 40px;
    width: 405px;
    margin-top: 20px;
    border:5px solid #054675;
}
form #message{
    border-radius: 8px;
    height: 150px;
    width: 405px;
    margin-top: 20px;
    border:5px solid #054675;
}
form #send{
    border-radius: 8px;
    height: 40px;
    width: 100px;
    position: relative;
    top: 110px;
    right: 20px;
    cursor: pointer;
    background-color: #23A0FA;
    color: white;
    border: none;
    transition: 0.5s;
}
form #send:hover{
    background-color: #15F68A;
    color: black;
    transition: 0.5s;
}
form h3{
    margin-top: 20px;
}

.info h2{
    font-size: 50px;
}
.info p{
    font-size: large;
    padding-top: 15px;
}
.info .icons{
    margin-top: 20px;
    margin-left: 30px;
    align-items: center;
    max-width: 400px;
}
.info .icons img{
    margin-left: 50px;
}

/*------------------------------------------facilities page css---------------------------------------------------------------------------------------*/

.center h1{
    color:#23A0FA;
    font-size: 50px;
}

.bottom{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    min-height: 50vh;
    margin-top: 100px;
}
.hos h2{
    margin-top: 30px;
}
.hos p{
    margin-top: 50px;
}

.hos img{
    width: 80px;
    margin-top: 50px;
}
.hos{
    text-align: center;
    max-width: 350px;
    max-height: 350px;
    border:5px solid #054675;
    padding: 10px;
    border-radius: 20px;
    
}
.dia{
    text-align: center;
    max-width: 350px;
    max-height: 350px;
    border:5px solid #054675;
    padding: 10px;
    border-radius: 20px;
}
.dia h2{
    margin-top: 30px;
}
.dia p{
    margin-top: 30px;
    max-width: 350px;
}

.dia img{
    width: 80px;
    margin-top: 50px;
}
.well{
    text-align: center;
    max-width: 350px;
    max-height: 350px;
    border:5px solid #054675;
    padding: 10px;
    border-radius: 20px;
}
.well h2{
    margin-top: 30px;
}
.well p{
    margin-top: 30px;
}

.well img{
    width: 80px;
    margin-top: 50px;
}
.lab{
    text-align: center;
    max-width: 350px;
    max-height: 350px;
    border:5px solid #054675;
    padding: 10px;
    border-radius: 20px;
}
.lab h2{
    margin-top: 30px;
}
.lab p{
    margin-top: 30px;
    max-width: 350px;
}

.lab img{
    width: 80px;
    margin-top: 50px;
}
/*------------------------------------------news page css---------------------------------------------------------------------------------------*/

.loc{
    max-width: 400px;
    min-height: 400px;
    text-align: center;
    background-color: #23A0FA;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.loc p{
    padding-top: 20px;
    
}


.Achev{
    max-width: 400px;
    min-height: 400px;
    text-align: center;
    background-color: #23A0FA;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.rev{
    max-width: 400px;
    min-height: 400px;
    text-align: center;
    background-color: #23A0FA;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.rev p{
    padding-top: 20px;
    
}
.doc{
    max-width: 400px;
    min-height: 400px;
    text-align: center;
    background-color: #23A0FA;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.doc p{
    padding-top: 20px;
}
.equi{
    max-width: 400px;
    min-height: 400px;
    text-align: center;
    background-color: #23A0FA;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.equi p{
    padding-top: 20px;
    
}
.cel{
    max-width: 400px;
    min-height: 400px;
    text-align: center;
    background-color: #23A0FA;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.cel p{
    padding-top: 20px;
    
}
.new{
    display: flex;
    flex-direction: column;
    min-height: 120vh;
}
.one{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 100px;
}
.two{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 100px;
}
.fol{
    text-align: center;
    margin-bottom: 30px;
    font-weight: bolder;
    font-size: 30px;
}