*{margin: 0px;
padding: 0px;}

.title1{
    background-color: aqua;
    width: 300px;
    height: 370px;
    text-align: center;
}
.title1 h2{
margin-top: 15px;
}
.title1 img{
    width:300px;
}
.title1 p{
    margin-top: 10px;
    padding: 0px 10px 0px 10px;
}
.title1 .view{
    margin-top: 25px;
}
.view{
    border: none;
    background-color: royalblue;
}
.wrapper {
    display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr;
    gap: 10px;
    
  }
.checkup-info-con{
    display: flex;
    flex-direction: column;
    max-width:30rem;
}   
.checkup-img img{
    height: 100%;
    width: 100%;
}
.test{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
}