.dashboard-content{
margin-left: 230px;
margin-right: 30px;
}
.closed{
    display: none;
}
.dropdown-container{
   min-height: 100px;
   width: 150px;
   position: fixed;
   top: 75px;
   right: 0;
   background-color:rgba(211, 208, 208,50%);
   margin-right: 1rem;
}
.dropdown-content{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    z-index: 1;
}
.dropdown-content a{
    text-decoration: none;
    width: 150px;
    text-align: center;
    padding:0.5rem 0;
    color: black;
    border-bottom: 1px solid black;
}
.dropdown-content a:hover{
    background-color: #7FD858;
    color: black;
}

/*-------------------------------------------------------Dashbord-------------------------------------------------------------*/
.upcoming-div {
  /*  background: linear-gradient(royalblue, #92f468);*/
  background:linear-gradient(#3C84AB,#85CDFD) ;
    display: flex;
    align-items: center;
    margin-top: 15px;
    border: 2px solid black;
    box-shadow: 1px 0px 5px;
    border-radius: 5px;
    padding: 30px 40px;
    min-height: 300px;
}

.dashboard-container h1{
    margin-top: 10px;
}

.event-con {
    background-color: azure;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 0px 0px 5px;
    padding: 10px 20px;
    height: 280px;
    width: 200px;
}

.dash-view-btn {
    width: 45%;
    padding: 5px;
    margin-bottom: 10px;
    border: 2px solid black;
    border-radius: 30px;
    transition: 0.2s;
}

.dash-view-btn:hover {
    background-color: rgb(102, 231, 9);
    color: rgb(24, 36, 197);
    border: 2px solid rgb(79, 90, 243);
    cursor: pointer;
}

.event-con h2 {
    margin-top: 20px;
}

.services-container {
    margin-top: 30px;
}

.service-div {
    margin-top: 20px;
}


/*------------------------------------Appointment ---------------------------------------------------------------------------------*/
.appoinment-content{
    margin-left: 230px;
    margin-right: 30px;
    margin-top: 30px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: center;
}

th {
  background-color: #f2f2f2;
  font-weight: bold;
}

th:first-child,
td:first-child {
  text-align: left;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

tr:hover {
  background-color: #eaeaea;
}

.hidden{
    display: none;
}

/*------------------------------------Diet plan ---------------------------------------------------------------------------------*/
.diet-plan-content {
    margin-left: 230px;
    margin-right: 50px;
    margin-top: 20px;
}
.welcome {
    width: 250px;
    margin: auto;
    border: 2px solid black;
    border-radius: 5px;
    font-size: 0.8rem;
    padding: 10px ;
    margin-bottom: 25px;
    background-color: rgba(238, 220, 165, 0.938);
    box-shadow: 1px 0px 5px;
}

.diet-info {
    background: linear-gradient(#3C84AB,#85CDFD);
    border: 2px solid black;
    min-height: 450px;
    min-width: 380px;
    box-shadow: 1px 0px 5px;
    
    
}

.diet-info h2,h3 {
    text-align: center;
    margin-bottom: 10px;
}

.diet-info h2 {
    margin-top: 10px;
}

.diet-plan-div {
    border: 2px solid black;
    border-radius: 5px;
    width: 250px;
    min-height: 350px;
    margin: auto;
    padding: 10px 20px;
    background-color: azure;
   
    
    
}

.info {
    border: 2px solid black;
    border-radius: 5px;
    width: 350px;
    max-height: 200px;
    text-align: center;
    padding: 15px;
    background: linear-gradient(#3C84AB,#85CDFD);
    
}

.info h2,.info p, .icons {
    margin-bottom: 20px;
}

.icons {
    display: flex;
    justify-content: space-between;
}

.icons button{
    width: 70px;
    height: 70px;
    border: none;
    border-radius: 50%;
    background-color: white;
    transition: 0.5s;
}

.icons button:hover{
    background-color: #63fa22;
    box-shadow: 2px 2px 15px #63fa22;
    transition: 0.5s;
    cursor: pointer;
}

.new-diet-plan {
    border: 2px solid black;
    border-radius: 5px;
    margin-top: 20px;
    font-size: 0.8rem;
    text-align: center;
    padding: 10px;
    min-height: 100px;
    background: linear-gradient(#3C84AB,#85CDFD);
}

.diet-plan-options {
    display: flex;
    justify-content: space-around;
    margin: 30px 0;
    
}

.diet-plan-options a {
    text-decoration: none;
    color: black;
    border: 2px solid black;
    border-radius: 5px;
    padding: 10px;
    background-color: azure;
}

.diet-plan-options a:hover{
    background-color: rgb(102, 231, 9);
    color: rgb(24, 36, 197);
    box-shadow: 2px 2px 15px #63fa22;
    transition: 0.5s;
    border: 2px solid rgb(79, 90, 243);
    cursor: pointer;
}

.diet-page-div {
    display: flex;
    justify-content: space-between;
}

