@import url('https://fonts.googleapis.com/css2?family=Arimo&family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arimo&family=Roboto+Condensed:wght@700&display=swap');

*
{
    padding: 0;
    margin: 0;
}

.logo
{
    max-width: 100vh;
    max-height: 100vh;
}   

.header
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: royalblue;
    height:75px; 
    width: 100%; 
    z-index: 1; 
    position: sticky;
    top: 0; 
    left: 0;
}

.full
{
    display: flex;
    margin-right: 10px;
    align-items: center;
}

.fulln
{
    display: flex;
    flex-direction:row;
    align-items: center;
    margin-left: 20px;
}

.fulln>a
{
    text-decoration: none;
    color: white;
   
    
}
.fulln>a#pfp{
margin-left: 10px;
}

.fulln>a#name{
    margin:0 10px 0 30px;
}

.Navibar
{
  height: 100%; 
  width: 200px; 
  float: left;
  overflow-x: hidden; 
  position: fixed;
  background-color: royalblue;
}

.nav-item{
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid;
    height: 65px;

}
.nav-item img{
    margin:0 15px 0 10px;
}
.nav-link{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    color: rgb(242, 242, 242);
    width: 200px;
    cursor: pointer;
    margin: 10px 0;
}
.nav-item:hover{
    background-color: #7FD858;
    color: white;
}

.navidown{
   position: fixed;
   bottom: 0;
   width: 200px;
}

.nav-item#back-to-home {
    border-top: 1px solid black;
}
