@import url('https://fonts.googleapis.com/css2?family=Arimo&family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arimo&family=Roboto+Condensed:wght@700&display=swap');

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

main{
    font-family: 'Arimo', sans-serif;
    background-color: white;
}

.prof-info{
    display: flex;
    flex-direction: row;
    align-items: center;
    max-height: 3rem;
}

.prof-img{
    max-width: 2rem;
    height: auto;
    margin-left: 1rem;
}
.prof-img:hover{
    cursor: pointer;
}
.prof-img img{
    height: 100%;
    width: 100%;
}
.center{
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    background-color:white; 
    background-size:cover;
    min-height: 700px;
    max-width:100vw;
    color: black;
    overflow-x: hidden;
    margin-top: 50px;
}
.center h1{
    color: black;
    font-size: 50px;
    text-shadow: 3px 3px 4px rgb(138, 138, 138);
}
.top{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    max-height: 180px;
    background-color: royalblue;
    border-bottom-right-radius: 20px;
}
.log{
    margin-right: 150px;
}
.log button{
    min-height: 50px;
    min-width: 130px;
    margin-right: 50px;
    background-color:royalblue;
    border-radius: 15px;
    border: none;
    color: white;
    transition: 0.5s;
    font-weight: bold;
    font-size: 1.1rem;
}

.top button:hover{
    background-color:#7FD858;
    cursor: pointer;
    color: black;
    border: none;
}
.logo{
    display: flex;
    max-height: 180px;
    max-width: 180px;

}
.logo img{
    height: 100%;
    width: 100%;
    border-bottom-right-radius :20px ;
}
.medium{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}
.medium a{
    padding:15px 60px 15px 60px;
    border: 2px solid black;
    border-radius: 30px;
    transition: 0.2s;
    color:black;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2rem;
    margin-right: 10px;
    max-height :50px; 
    display: flex;
    align-items: center;
}
.medium a:hover{
    background-color: #87fc54;
    color: rgb(24, 36, 197);
    border: 2px solid rgb(79, 90, 243);
    cursor: pointer;
    font-size: 1.6rem;
    box-shadow: 0px 0px 15px rgb(64, 75, 219);
}
.medium{
    background-color: none;
    overflow-x: hidden;
    border: none;
}
.but button{
    border-radius: 15px;
    min-width: 250px;
    margin-right: 150px;
    position: relative;
    left: 70px;
}
.but{
    align-items: center;
}
.right h1{
    width: 700px;
    text-align: center;
    color: black;
    margin-bottom: 90px;
}
.right{
    margin-left: 100px;
}

.appointment-btns{
    display: flex;
}
.appointment-btns a{
    text-decoration: none;
    padding:20px 90px 20px 90px;
    background-color:royalblue ;
    border:2px solid white ;
    transition: 0.5s;
    color:white;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2rem;
    border-radius: 15px;
    margin-right: 20px;
}
.appointment-btns a:hover{
    background-color: #7FD858;
    color: black;
    cursor: pointer;
    
}

section{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 50vh;
    margin-top: 20px;
    margin-bottom: 20px;
}

.faq{
    max-width: 1000px;
    border-bottom: 5px solid royalblue  ;
    cursor: pointer;
    padding-bottom: 10px;
    text-align: center;
}


.question{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-height: 50px;
    color:black;
    font-size: 18px;
}

.answer{
    max-height: 0;
    overflow: hidden;
    transition: max-height .4s;
    font-size: 20px;
}
.faq.active .answer{
    max-height: 300px;
    color: black;
    transition: 0.4s ease-in-out;
    
}
.faq.active svg{
    transform: rotate(180deg);
}
.faq.active{
    border-bottom: 5px solid rgb(48, 240, 48) ;
    transition: 0.4s;
}

svg{
    transition: transform 0.4s ease-in;
    fill:none;
}
.title{
    font-size: 50px;
    margin-bottom: 10px;
    color: royalblue;
}

.share{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 400px;
    margin-bottom: 50px;
    min-height: 20vh;
   margin: auto;
   padding-bottom: 100px;
}
.share button{
    border: none;
    height:70px;
    width: 70px;
    border-radius: 50%;
    background-color:white;
    transition: 0.5s;
}
.share button:hover{
    border: none;
    background-color: #63fa22;
    cursor: pointer;
    box-shadow: 2px 2px 15px #63fa22;
    color: white;
    transition: 0.5s;
}

.closed{
    display: none;
}
.dropdown-container{
   min-height: 100px;
   width: 150px;
   position: absolute;
   background-color:rgba(211, 208, 208,50%);
   margin-right: 1rem;
   transform: translateX(25px);
}
.dropdown-content{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    z-index: 1;
    
}
.dropdown-content a{
    text-decoration: none;
    width: 150px;
    text-align: center;
    padding:0.5rem 0;
    color: black;
    border-bottom: 1px solid black;
}
.dropdown-content a:hover{
    background-color: #7FD858;
    color: black;
}
/*------------------------------------------contact page css---------------------------------------------------------------------------------------*/

.location{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.location iframe{
    width:900px;
    border-radius: 20px;
    box-shadow: 8px 8px 20px royalblue;
}

.box{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 100px;
    height: 900px;
}
.con-img img{
    width: 900px;
    height: 900px;
}
.contact{
    border:5px solid royalblue ;
    border-radius: 20px;
    width: 600px;
    height: 800px;
    padding-top: 20px;
    padding-bottom: 50px;
    box-shadow: 10px 10px 15px rgb(115, 147, 241);
    margin-right: 30px;
    color: royalblue;
}
.contact h1{
    text-align: center;
    font-size: 50px;
}


.info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;
    margin-top: -50px;
}




form{
    font-size: 20px;
    margin-left: 50px;
}

form #fname{
    border-radius: 7px;
    border:2px solid black;
    height: 40px;
    width: 200px;
    margin-top: 20px;
    padding-left: 1rem; 
}
form #lname{
    border-radius: 7px;
    height: 40px;
    width: 200px;
    border:2px solid black;
    padding-left: 1rem; 
}
form #email{
    border-radius: 7px;
    height: 40px;
    width: 405px;
    margin-top: 20px;
    border:2px solid black;
    padding-left: 1rem; 
}
form #phone{
    border-radius: 8px;
    height: 40px;
    width: 405px;
    margin-top: 20px;
    border:2px solid black;
    padding-left: 1rem; 
}
form #subject{
    border-radius: 8px;
    height: 40px;
    width: 405px;
    margin-top: 20px;
    border:2px solid black;
    padding-left: 1rem; 
}
form #message{
    border-radius: 8px;
    height: 150px;
    width: 405px;
    margin-top: 20px;
    border:2px solid black;
    padding-left: 1rem; 
}

form #send{
    border-radius: 8px;
    height: 30px;
    width: 100px;
    cursor: pointer;
    background-color: #23A0FA;
    color: white;
    border: none;
    transition: 0.5s;
    position: relative;
    top: 15px;
    left: 15px;
}
form #send:hover{
    background-color: #15F68A;
    color: black;
    transition: 0.5s;
}
form h3{
    margin-top: 20px;
}


.info h2{
    font-size: 50px;
    text-shadow: 3px 3px 4px rgb(138, 138, 138);
}
.info p{
    font-size: large;
    padding-top: 15px;
    text-shadow: 3px 3px 4px rgb(138, 138, 138);
}
.info .icons{
    display: flex;
    justify-content: space-between;
    align-items: center;
     height: 100px;
    width: 400px;
    margin-top: 30px;
}
.icons button{
    width: 70px;
    height: 70px;
    border: none;
    border-radius: 50%;
    background-color: white;
    transition: 0.5s;
}

.icons button:hover{
    background-color: #63fa22;
    box-shadow: 2px 2px 15px #63fa22;
    transition: 0.5s;
    cursor: pointer;
}


/*------------------------------------------facilities page css---------------------------------------------------------------------------------------*/


.container-fac{
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-height: 800px;
    margin-top: 50px;
}
.center-fac h1{
    text-align: center;
    margin-top: 30px;
    font-size: 70px;
    color: royalblue;
    text-shadow: 3px 3px 4px rgb(115, 147, 241);
}
span{
    color: #63fa22 ;
    text-shadow: 3px 3px 4px #4cbe1b;
}
.right-fac{
    display: flex;
    flex-direction: row;
}
.left-fac img{
    width: 700px;
}
.hos h2{
    margin-top: 30px;
}
.hos p{
    margin-top: 50px;
}

.hos img{
    width: 80px;
    margin-top: 50px;
}
.hos{
    text-align: center;
    width: 350px;
    height: 350px;
    border:5px solid royalblue;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 8px 8px 10px rgb(115, 147, 241);
    margin: 20px;
    color: royalblue;
}
.dia{
    text-align: center;
    width: 350px;
    height: 350px;
    border:5px solid royalblue;
    padding: 10px;
    border-radius: 20px;
    margin: 20px;
    box-shadow: 8px 8px 10px rgb(115, 147, 241);
    color: royalblue;
}
.dia h2{
    margin-top: 30px;
}
.dia p{
    margin-top: 30px;
    max-width: 350px;
}

.dia img{
    width: 80px;
    margin-top: 50px;
}
.well{
    text-align: center;
    width: 350px;
    height: 350px;
    border:5px solid royalblue;
    padding: 10px;
    border-radius: 20px;
    margin: 20px;
    box-shadow: 8px 8px 10px rgb(115, 147, 241);
    color: royalblue;
}
.well h2{
    margin-top: 30px;
}
.well p{
    margin-top: 30px;
}

.well img{
    width: 80px;
    margin-top: 50px;
}
.lab{
    text-align: center;
    width: 350px;
    height: 350px;
    border:5px solid royalblue;
    padding: 10px;
    border-radius: 20px;
    margin: 20px;
    box-shadow: 8px 8px 10px rgb(115, 147, 241);
    color: royalblue;
}
.lab h2{
    margin-top: 30px;
}
.lab p{
    margin-top: 30px;
    max-width: 350px;
}

.lab img{
    width: 80px;
    margin-top: 50px;
}
.serv{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 30px;
}
.bottom{
    height: 70vh;
    margin-top: 80px;
}
.bottom h1{
    text-align: center;
    font-size: 50px;
    color: royalblue;
    text-shadow: 3px 3px 4px rgb(115, 147, 241);
}
.free-chk{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 250px;
    width: 300px;
    border: 5px solid royalblue;
    list-style-position: inside;
    line-height:180%;
    margin: 50px;
    border-radius: 20px;
    transition: 0.5s;
    color: royalblue;
}
.free-chk:hover{
    font-size: 20px;
    height: 280px;
    width: 350px;
    transition: 0.5s;
    border-color: #63fa22;
    box-shadow: 0px 0px 15px  #4cbe1b;
    color: #5bce2a;
}
.free-chk h2{
    margin-bottom: 20px;
}
.ambul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 250px;
    width: 300px;
    border: 5px solid royalblue;
    list-style-position: inside;
    line-height:180%;
    margin: 50px;
    border-radius: 20px;
    transition: 0.5s;
    color: royalblue;
}
.ambul:hover{
    font-size: 20px;
    height: 280px;
    width: 320px;
    transition: 0.5s;
    border-color: #63fa22;
    box-shadow: 0px 0px 15px  #4cbe1b;
    color: #5bce2a;
}
.ambul h2{
    margin-bottom: 20px;
}
.expert{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 250px;
    width: 300px;
    border: 5px solid royalblue;
    list-style-position: inside;
    line-height:180%;
    margin: 50px;
    border-radius: 20px;
    transition: 0.5s;
    color: royalblue;
    
}
.expert:hover{
    font-size: 20px;
    height: 280px;
    width: 320px;
    transition: 0.5s;
    border-color: #63fa22;
    box-shadow: 0px 0px 15px  #4cbe1b;
    color: #5bce2a;
}
.expert h2{
    margin-bottom: 20px;
}
ul{
    margin-top:10px ;
}
/*------------------------------------------news page css---------------------------------------------------------------------------------------*/

h1{
    text-align: center;
    font-size: 70px;
    margin-top: 40px;
    color: royalblue;
    text-shadow: 3px 3px 4px rgb(115, 147, 241)
}
.loc{
    max-width: 400px;
    min-height: 400px;
    text-align: center;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border: 5px solid royalblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 5px 5px 10px rgb(64, 75, 219)
}
.loc p{
    padding-top: 20px;
    width: 300px;
    
}


.Achev{
    max-width: 400px;
    min-height: 400px;
    text-align: center;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border: 5px solid royalblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 5px 5px 10px rgb(64, 75, 219)
}
.Achev p{
    padding-top: 20px;
    width: 300px;
}
.rev{
    max-width: 400px;
    min-height: 400px;
    text-align: center;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border: 5px solid royalblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 5px 5px 10px rgb(64, 75, 219)
}
.rev p{
    padding-top: 20px;
    width: 300px;
    
}
.doc{
    max-width: 400px;
    min-height: 400px;
    text-align: center;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border: 5px solid royalblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 5px 5px 10px rgb(64, 75, 219)
}
.doc p{
    padding-top: 20px;
    width: 300px;
}
.equi{
    max-width: 400px;
    min-height: 400px;
    text-align: center;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border: 5px solid royalblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 5px 5px 10px rgb(64, 75, 219)
}
.equi p{
    padding-top: 20px;
    width: 300px;
    
}
.cel{
    max-width: 400px;
    min-height: 400px;
    text-align: center;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border: 5px solid royalblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 5px 5px 10px rgb(64, 75, 219)
}
.cel p{
    padding-top: 20px;
    width: 300px;
    
}
.new{
    display: flex;
    flex-direction: column;
    min-height: 120vh;
}
.one{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 100px;
}
.two{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 100px;
}
.fol{
    text-align: center;
    margin-bottom: 30px;
    font-weight: bolder;
    font-size: 40px;
    color: royalblue;
}
.last{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;
}
.new-icon{
    width: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.new-icon button{
    background-color: white;
    border: none;
    width:70px;
    height: 70px;
    border-radius: 50%;
    transition: 0.5s;
}
.new-icon button:hover{
    background-color: #63fa22;
    cursor: pointer;
    box-shadow: 2px 2px 15px #63fa22;
    transition: 0.5s;
}